shamefully-hoist=true
strict-peer-dependencies=true
# enables GitHub registry authentification
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# access to public dependencies
registry=https://registry.npmjs.org/

@visable-dev:registry = https://npm.pkg.github.com