shamefully-hoist=true
strict-peer-dependencies=true
# enables GitHub registry authentification
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# access to public dependencies
registry=https://registry.npmjs.org/

# access to private dependencies
@visu-subbaiyan:registry=https://npm.pkg.github.com